#!/usr/bin/env bash
[ "$XDG_CURRENT_DESKTOP" = "KDE" ] || [ "$XDG_CURRENT_DESKTOP" = "GNOME" ] || export QT_QPA_PLATFORMTHEME="qt5ct"

export PATH=$PATH:/usr/local/bin
export HOSTNAME="$(hostname)"
export BROWSER="firefox"
export TERMINAL="st"
export EDITOR="vim"
