[Unit]
Description=User resume actions
After=suspend.target

[Service]
User=%I
Type=simple
ExecStart=/home/mike/.scripts/resume

[Install]
WantedBy=suspend.target
