[Unit]
Description=Set GPU performance to low.
After=multi-user.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/set_gpu_performance low

[Install]
WantedBy=multi-user.target
